.floor-plans {
	display: flex;
	justify-content: space-evenly;
	background: var(--dark);
	width: 100vw;
	max-width: var(--maxWidth);
	min-height: 85vh;
	padding: var(--large) var(--large) var(--huge) var(--large);
	z-index: 0;
}

.plan {
	object-fit: contain;
	max-width: 30%;
}

/* large screens */
@media screen and (max-width: 1200px) {
}

/* small screens */
@media screen and (max-width: 1024px) {
}

/* tablets */
@media screen and (max-width: 768px) {
}

/* phones */
@media screen and (max-width: 480px) {
}
