.floor-plans {
	display: flex;
	justify-content: space-evenly;
	background: var(--dark);
	width: 100vw;
	padding: var(--large) var(--large) var(--huge) var(--large);
	z-index: 0;
}

.plan {
	display: flex;
	object-fit: contain;
	height: 100%;
	max-width: 48%;
	max-height: fit-content;
}

/* large screens */
@media screen and (max-width: 1200px) {
	.floor-plans {
		padding: var(--large);
	}
}

/* small screens */
@media screen and (max-width: 1024px) {
	.floor-plans {
		justify-content: space-between;
		padding: var(--medium);
	}
}

/* tablets */
@media screen and (max-width: 768px) {
	.floor-plans {
		flex-direction: column;
		gap: var(--large);
		padding: var(--large);
	}

	.plan {
		height: auto;
		max-width: 100%;
	}
}

/* phones */
@media screen and (max-width: 480px) {
	.floor-plans {
		gap: var(--large);
		padding: var(--large) var(--medium) var(--large) var(--medium);
	}
}
