.home-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--huge);
	background: var(--light);
	color: var(--dark);
	text-align: center;
	width: 100vw;
	max-width: var(--maxWidth);
	padding: var(--huge);
}

.home-image-break,
.home-image-transition {
	display: flex;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 80vh;
}

.home-image-transition {
	background-attachment: fixed;
}

.property-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--large) var(--huge);
}

.property-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: var(--large) var(--huge);
}

.detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--tiny);
}

.property-features-left,
.property-features-right {
	display: flex;
	justify-content: space-between;
	gap: var(--large);
}

.features-image {
	width: 60%;
}

.features {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
}

.brokerage-funnel {
	background-image: linear-gradient(var(--dark50), var(--dark50)), url('../../../public/assets/images/brokerage-image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: var(--huge);
	width: 100%;
}

.brokerage-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--medium);
	text-align: center;
	width: 100%;
	padding: var(--large) var(--huge);
}

.brokerage-details h3 {
	line-height: 1.5;
	width: 100%;
	max-width: 50vw;
}

/* large screens */
@media screen and (max-width: 1200px) {
	.home-section {
		gap: var(--large);
		padding: var(--large);
	}

	.brokerage-funnel {
		padding: var(--large);
	}

	.brokerage-details h3 {
		max-width: 100%;
	}

	.home-image-transition {
		display: none;
	}
}

/* small screens */
@media screen and (max-width: 1024px) {
	.home-section {
		gap: var(--large);
		padding: var(--large);
	}

	.property-description,
	.property-details {
		padding: var(--medium);
	}

	.property-features-left,
	.property-features-right {
		justify-content: flex-start;
		align-items: center;
		gap: var(--medium);
	}

	.property-features-left {
		flex-direction: column;
	}

	.property-features-right {
		flex-direction: column-reverse;
	}

	.features {
		gap: var(--small);
	}

	.features-image {
		width: 100%;
	}

	.brokerage-funnel {
		padding: var(--large);
	}

	.brokerage-details {
		gap: var(--medium);
		padding: var(--large) var(--medium);
	}

	.brokerage-details h3 {
		max-width: 100%;
	}
}

/* tablets */
@media screen and (max-width: 768px) {
	.home-section {
		gap: var(--large);
		padding: var(--large) var(--small);
	}

	.property-description,
	.property-details {
		flex-direction: column;
		gap: var(--large);
		padding: var(--small);
	}

	.property-features-left,
	.property-features-right {
		padding: 0;
	}

	.brokerage-funnel {
		padding: var(--small);
	}

	.brokerage-details {
		gap: var(--medium);
		padding: var(--huge) var(--small);
	}
}

/* phones */
@media screen and (max-width: 480px) {
	.home-section {
		gap: var(--large);
		padding: var(--large) var(--small);
	}
}
