header {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url('../../../public/assets/images/image-46.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-shadow: var(--shadow);
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	transition: all 1s ease;
}

.header {
	background-attachment: local;
}

.header-collapsed {
	background-attachment: local;
	height: 180px;
}

.header-banner {
	display: flex;
	justify-content: space-between;
	background: linear-gradient(var(--dark50), transparent);
	width: 100%;
	padding: var(--large);
}

.header-collapsed::after,
.header::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	background: linear-gradient(var(--dark75), var(--dark));
}

.header-collapsed::after {
	animation: fade-in 1s both;
}

.header::after {
	animation: fade-out 1s both;
}

/* set banner content in front of backdrop */
.header-banner * {
	z-index: 1;
}

.header-logo {
	width: 240px;
}

nav {
	display: flex;
	align-items: center;
	gap: var(--medium);
	height: fit-content;
}

.nav-links {
	display: flex;
	gap: var(--medium);
}

.tab {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.tab-active {
	border-top: 1px solid transparent;
	border-bottom: 1px solid var(--light);
}

.tab:hover {
	cursor: pointer;
	border-bottom: 1px solid var(--light);
}

.header-address {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: var(--small);
	background: linear-gradient(transparent, var(--dark25));
	width: 100%;
	padding: var(--large);
}
