header {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url('../../../public/assets/images/image-1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-shadow: var(--shadow);
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	transition: all 1s ease;
}

.background-video-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	z-index: 1;
}

.background-video {
	height: 100%;
	opacity: 0;
	transition: all 1s ease;
}

.header-collapsed {
	height: 180px;
}

.header-banner {
	display: flex;
	justify-content: center;
	background: linear-gradient(var(--dark75), transparent);
	width: 100%;
	z-index: 2;
}

.header-banner-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: var(--large);
}

.header-banner-content a {
	transition: all 1s ease;
}

.header-collapsed::after,
.header::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	background: linear-gradient(var(--dark75), var(--dark));
}

.header-collapsed::after {
	animation: fade-in 1s both;
}

.header::after {
	animation: fade-out 1s both;
}

/* set banner content in front of backdrop */
.header-banner * {
	z-index: 1;
}

nav {
	display: flex;
	align-items: center;
	gap: var(--medium);
	height: fit-content;
	opacity: 0.25;
	transition: all 1s ease;
}

nav:hover {
	opacity: 1 !important;
}

.nav-links {
	display: flex;
	gap: var(--medium);
	text-align: center;
	letter-spacing: 0.075rem;
}

.tab {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	width: fit-content;
}

.tab-active {
	cursor: default;
	border-top: 1px solid transparent;
	border-bottom: 1px solid var(--light);
	width: fit-content;
}

.tab:hover {
	cursor: pointer;
	border-bottom: 1px solid var(--light);
}

.header-address {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: var(--small);
	background: linear-gradient(transparent, var(--dark50));
	width: 100%;
	padding: var(--large);
	z-index: 2;
	transition: all 1s ease;
}

/* large screens */
@media screen and (max-width: 1200px) {
}

/* small screens */
@media screen and (max-width: 1024px) {
	.header-banner-content {
		padding: var(--medium);
	}

	.header-address {
		padding: var(--medium);
	}
}

/* tablets */
@media screen and (max-width: 768px) {
	nav {
		position: absolute;
		bottom: 0;
		right: 0;
		flex-direction: column;
		align-items: flex-end;
		gap: var(--medium);
		background: var(--dark75);
		-webkit-backdrop-filter: blur(15px);
		backdrop-filter: blur(15px);
		height: 100vh;
		width: 100vw;
		padding: var(--medium);
	}

	.nav-links {
		flex-direction: column;
		align-items: flex-end;
		gap: var(--medium);
		text-align: right;
		letter-spacing: 0.075rem;
	}

	.mobile-nav-button {
		display: flex;
	}

	.nav-open {
		animation: fade-in 0.5s 0.5s both;
	}

	.nav-closed {
		animation: fade-out 0.5s both;
	}

	.nav-hidden {
		display: none;
	}
}

/* phones */
@media screen and (max-width: 480px) {
}
