header {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url('../../../public/assets/images/image-1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-shadow: var(--shadow);
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	transition: all 1s ease;
}

.background-video {
	position: absolute;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
	transition: all 1s ease;
}

.header-collapsed {
	height: 180px;
}

.header-banner {
	display: flex;
	justify-content: center;
	background: linear-gradient(var(--dark75), transparent);
	width: 100%;
}

.header-banner-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: var(--maxWidth);
	padding: var(--large);
}

.header-collapsed::after,
.header::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	background: linear-gradient(var(--dark75), var(--dark));
}

.header-collapsed::after {
	animation: fade-in 1s both;
}

.header::after {
	animation: fade-out 1s both;
}

/* set banner content in front of backdrop */
.header-banner * {
	z-index: 1;
}

nav {
	display: flex;
	align-items: center;
	gap: var(--medium);
	height: fit-content;
}

.nav-links {
	display: flex;
	gap: var(--medium);
	text-align: center;
	letter-spacing: 0.075rem;
}

.tab {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.tab-active {
	border-top: 1px solid transparent;
	border-bottom: 1px solid var(--light);
}

.tab:hover {
	cursor: pointer;
	border-bottom: 1px solid var(--light);
}

.header-address {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: var(--small);
	background: linear-gradient(transparent, var(--dark50));
	width: 100%;
	padding: var(--large);
}
