footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--lightgray);
	color: var(--dark);
	box-shadow: inset var(--shadow);
	width: 100vw;
	padding: var(--large);
	z-index: 5;
}

.footer-section {
	display: flex;
	justify-content: space-between;
	gap: var(--medium);
	width: 100%;
	max-width: var(--maxWidth);
	padding: var(--large);
}

.footer-contact-details {
	display: flex;
	flex-direction: column;
	gap: var(--medium);
}

.footer-contact-details-section {
	display: flex;
	flex-direction: column;
	gap: var(--tiny);
}

.footer-contact-form {
	width: 50%;
}

.footer-branding {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--medium);
	text-align: center;
	width: 100%;
}

.legal-copy {
	font-size: 0.8rem;
	font-weight: 200;
}

/* large screens */
@media screen and (max-width: 1200px) {
	footer {
		padding: var(--medium);
	}

	.footer-section {
		gap: var(--medium);
		padding: var(--medium);
	}

	.footer-contact-details {
		gap: var(--medium);
	}
}

/* small screens */
@media screen and (max-width: 1024px) {
	footer {
		gap: var(--large);
		padding: var(--large) var(--small);
	}

	.footer-section {
		flex-direction: column;
		align-items: center;
		gap: var(--large);
	}

	.footer-contact-details {
		align-items: center;
	}

	.footer-contact-details-section {
		align-items: center;
	}

	.footer-contact-form {
		width: 100%;
	}
}

/* tablets */
@media screen and (max-width: 768px) {
	footer {
		gap: var(--large);
		padding: var(--large) var(--small);
	}

	.footer-section {
		gap: var(--large);
		padding: var(--small);
	}

	.form-line {
		display: flex;
		flex-direction: column;
	}
}

/* phones */
@media screen and (max-width: 480px) {
	footer {
		padding: var(--large) var(--tiny);
	}
}
